/* Css font link */
.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Shared Style */
  .display-flex{
    display: flex;
  }
  .header{
    background-color: rgba(17, 17, 17, 1);
  }
  .btn-primary{
    font-size: 1.15rem;
    font-weight: 700;
    padding: 16px 46px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: rgba(230, 83, 60, 1);
  }
  *{
    margin: 0;
  }
  /* Navbar Style */
  .navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 190px;
  }
  .nav-tittle{
    font-size: 2.15rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
  }
  .nav-items{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px ;
    border-radius: 8px;
  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
  }
  .nav-home{
    padding: 6px 10px;
    border-radius: 5px;
    background-color: rgba(230, 83, 60, 1);
  }

  /* Banner Section Style */
  .banner{
    margin: 50px 190px;
    gap: 520px;
  }
  .banner-img{
    width: 100%;
    display: inline-block;
    /* position: relative; */
  }
  .banner-tittle{
    font-size: 4.87rem;
    font-weight: 700;
    color: white;
  }
  .banner-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
  .btn-primary-2{
    font-size: 1.15rem;
    font-weight: 700;
    padding: 16px 46px;
    border-radius: 8px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(17, 17, 17, 1);
  }
  .btn-container{
    margin-left: 14px;
  }
  /* card section style */
  .card-container{
    position: relative;
  }
  .card{
    position: absolute;
    width: 193px;
    height: 98px;
    padding: 17px 24px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 15px;
    top: 50px;
    left: 190px;
  }
  .card-tittle{
    font-size: 2.5rem;
    font-weight: 700;
    color: White;
  }
  .card-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
  }
  .card-2{
    padding: 17px 24px;
    position: absolute;
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 15px;
    bottom: 50px;
    left: -100px;
  }
  /* Mobile device responsive section */
  @media screen and (max-width: 576px) {
    .navbar,
    .nav-items,
    .banner{
        flex-direction: column;
    }
    .navbar{
        padding: 20px;
    }
    .nav-items{
        border: none;
        gap: 12px;
    }
    .banner{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        gap: 30px;
    }
    .card{
        position: absolute;
        width: 155px;
        height: 70px;
        left: 10px;
        top: 40px;
    }
    .card-2{
        position: absolute;
        width: 155px;
        height: 70px;
        left: 8px;
    }
    .btn-container{
        margin: 10px 0;
        display: inline-block;
    }
  }